[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.6.0"
django = "==4.1.4"
psycopg2-binary = "==2.9.5"
pydantic = "==1.10.3"
sqlparse = "==0.4.3"
typing-extensions = "==4.4.0"
tzdata = "==2022.7"
flit = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
